<!DOCTYPE html>
<html>
<head>
<title>Hello {{ user_name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
OS facts <br>
ansible_distribution: {{ ansible_distribution }}<br>
ansible_distribution_file_parsed: {{ ansible_distribution_file_parsed }}<br>
ansible_distribution_file_path: {{ ansible_distribution_file_path }}<br>
ansible_distribution_file_variety: {{ ansible_distribution_file_variety }}<br>
ansible_distribution_major_version: {{ ansible_distribution_major_version }}<br> 
ansible_distribution_release: {{ ansible_distribution_release }}<br>
ansible_distribution_version: {{ ansible_distribution_version }}<br>
</body>
</html>



